* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    --font-geist-mono: "GeistMono",ui-monospace,SFMono-Regular,Roboto Mono,Menlo,Monaco,Liberation Mono,DejaVu Sans Mono,Courier New,monospace;
    font-family: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;;
    /* text-align: center; */
    /* font-size: 100%; */
    /* vertical-align: baseline; */
    background: transparent;
    box-sizing: border-box;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}