:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* TODO : figure out why text color changed. I think its because system theme
      changed. Get the colors to invert when system theme changes.*/
  color: #1a1a1a;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */
h1{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

button {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
  background-color: #464646;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  button:hover{
    background-color: #c8c8c8;
  }
}

.searchbox{
  --dark-gray: rgb(90, 90, 90);
  --light-gray: rgb(148, 148, 148);
  --focus-blue: rgb(69, 159, 189);

  --target-size: 48px; 
  --box-height: var(--target-size);
  --border-width:2px;
  --border-radius: calc(var(--box-height) / 2);
  --icon-size: calc(var(--box-height) * 1 / 2);
  --side-margin: calc(var(--border-radius) / 2);

  height: var(--box-height);
  /* max-width: 561px; */
  position: relative;
}
.searchbox form {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.searchbox input[type='text']{
  border: var(--border-width) solid var(--dark-gray);
  border-radius: calc(var(--border-radius));
  height: 100%;
  width: 100%;
  color: var(--dark-gray);
  box-sizing: border-box;
  /* padding-left: calc(var(--side-margin) + var(--icon-size) + 4px); */
}
.searchbox input[type='text']::placeholder{
  color: var(--light-gray);
  opacity: 1;
  text-align: center;
}
.searchbox svg{
  fill: var(--dark-gray);
  height: var(--icon-size);
  width: var(--icon-size);
  position: absolute;
  right: var(--side-margin);
  top: 50%;
  transform: translateY(-50%);
}
/* #sortByName{
  
  min-width: 30rem;
} */
