.cardBody{
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  background-color: #73d3d1;
  height: 250px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: transform 1s;
  transform-style: preserve-3d;
}

.cardBody:hover {
    border: 2px solid;
    border-color: #747bff;

}
.cardBody:focus,
.cardBody:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.flipped{
  transform:rotateX(180deg);
  transition: transform 0.2s;
}