.sideNav{
    background-color: #5b5a5a;
    display: flex;
    flex-direction: column;
    /* position: absolute;
    top: 0;
    left: 0; */
    height: 100vh;
    width: 250px;
}

.navElement{
    padding: 10px;
}